@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* header style start */
.header{
    align-items: center;
}
.header-section{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    margin-top: 80px;
    margin-left: 40px;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-right: 40px;

}
.menu-iteam{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.manu-name{
    margin-right: 34px;
    font-size: 16px;
    font-weight: 600;
}
/* header style end  */

/* Banner style start */
.Banner{
    display: flex;
    justify-content: space-between;
}
.banner-left{
    width: 580px;
    margin-top: 225px;
    margin-left: 40px;
}
.banner-title{
    font-size: 50px;
}
.paragraph-text{
    font-size: 16px;
    padding: 0, 10px;
}
.button{
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 26px;
    list-style: none;
    text-decoration: none;
}
.banner-right{
    background-image: url(images/Circle\ design.svg);
    margin-right: 40px;
    margin-top: 80px;
}

/* Banner style end */

/* Collection section start */
.section-tital{
    display: flex;
    font-size: 28px;
    font-weight: 600;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 40px 20px;
    margin-left: 40px;
}
.product{
    width: 300px;
    height: 476px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-title{
    font-size: 28px;
    margin-top:15px;
}
.product-banner img{
    width: 300px;
    height: 256px;
}
.product-banner h3{
    font-size: 24px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star{
    font-size: 16px;
}
.rating{
    display: flex;
    align-items: center;  
}
.rating p{
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}
.product-info{
    font-size: 14px;
    margin-top: 8px;
}
.second-button{
    color: #E02C6D;
 
}

/* Collection section end */

/* Footer section start */
.footer{
    width: 100%;
    height: 250px;
    color: white;
    background-color: #0A0826;
}
.footer-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon{
    padding: 10px 15px;
    font-size: 25px;
}
.footer-title{
    font-size: 24px;
    padding: 5px;
}
.footer-text{
    font-size: 14px;
    padding: 2px;
}
/* Footer section end */