@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* header style start */
.header{
    align-items: center;
}
.header-section{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    margin-top: 80px;
    margin-left: 40px;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-right: 40px;

}
.menu-iteam{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.manu-name{
    margin-right: 34px;
    font-size: 16px;
    font-weight: 600;
}
/* header style end  */

/* Banner style start */
.Banner{
    display: flex;
    justify-content: space-between;
}
.banner-left{
    width: 580px;
    height: 270px;
    margin-top: 225px;
    margin-left: 40px;
}
.banner-title{
    font-size: 50px;
}
.paragraph-text{
    font-size: 16px;
    padding: 0, 10px;
}
.button{
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    padding: 10px 40px;
    border-radius: 25px;
    margin-top: 26px;
    list-style: none;
    text-decoration: none;
}
.banner-right{
    background-image: url(images/Circle\ design.svg);
    margin-right: 40px;
    margin-top: 80px;
}

/* Banner style end */